<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480962506011-rjpp38eaiqakba1m2ag6u35dpvr2ahnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480962506011-rjpp38eaiqakba1m2ag6u35dpvr2ahnv</string>
	<key>API_KEY</key>
	<string>AIzaSyC3sSFwwBE3z9d1KYN-8BAmdbj97POlXvw</string>
	<key>GCM_SENDER_ID</key>
	<string>480962506011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ArihantJain.LandOfAThousandHills</string>
	<key>PROJECT_ID</key>
	<string>land-of-a-thousand-hills</string>
	<key>STORAGE_BUCKET</key>
	<string>land-of-a-thousand-hills.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:480962506011:ios:4e8ec38ac4beba723277be</string>
	<key>DATABASE_URL</key>
	<string>https://land-of-a-thousand-hills-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
